# Ignore CockroachDB data files
cockroach-data/
node_data/

# Ignore compiled Python files
**/__pycache__/
*.pyc

# Ignore temporary files and locks
*.lock
temp-dirs-record.txt

# Ignore environment-specific config files
.env